# Byte-compiled / optimized / DLL files
__pycache__/
*__pycache__/
*../.idea
*.idea/
test_scripts/
*.DS_Store
*.py[cod]
*.DS_Store
*../.DS_Store
# Distribution / packaging
.Python
env/
venv/
kivy-kivent-e22f871/
save/logs
res/characters
res/enemies
res/lwf
releases/
tools/Create Release/build
data/logs
