<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character/gac_1011002004/thumbnail_gacha</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{290,122},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011002004/lwf_skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,211}</string>
                <key>spriteSourceSize</key>
                <string>{421,211}</string>
                <key>textureRect</key>
                <string>{{141,107},{421,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011002004/thumbnail_square</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{292,157},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011002004/thumbnail_rectangle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,469}</string>
                <key>spriteSourceSize</key>
                <string>{146,469}</string>
                <key>textureRect</key>
                <string>{{306,139},{146,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011002004/status_l</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,583}</string>
                <key>spriteSourceSize</key>
                <string>{704,583}</string>
                <key>textureRect</key>
                <string>{{171,37},{704,583}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011002004/all_rectangle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,964}</string>
                <key>spriteSourceSize</key>
                <string>{972,964}</string>
                <key>textureRect</key>
                <string>{{29,50},{972,964}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1240,930}</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
