<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character/gac_1011518001/status_l</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,599}</string>
                <key>spriteSourceSize</key>
                <string>{718,599}</string>
                <key>textureRect</key>
                <string>{{306,105},{718,599}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011518001/all_rectangle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{991,984}</string>
                <key>spriteSourceSize</key>
                <string>{991,984}</string>
                <key>textureRect</key>
                <string>{{10,4},{991,984}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011518001/thumbnail_rectangle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,547}</string>
                <key>spriteSourceSize</key>
                <string>{170,547}</string>
                <key>textureRect</key>
                <string>{{547,171},{170,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011518001/thumbnail_square</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,187}</string>
                <key>spriteSourceSize</key>
                <string>{187,187}</string>
                <key>textureRect</key>
                <string>{{537,204},{187,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011518001/thumbnail_gacha</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{177,177}</string>
                <key>textureRect</key>
                <string>{{544,174},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011518001/bustup_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,199}</string>
                <key>spriteSourceSize</key>
                <string>{397,199}</string>
                <key>textureRect</key>
                <string>{{369,163},{397,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1240,930}</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
