<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character/gac_1011010004/thumbnail_gacha</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{414,167},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011010004/bustup_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,274}</string>
                <key>spriteSourceSize</key>
                <string>{545,274}</string>
                <key>textureRect</key>
                <string>{{200,214},{545,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011010004/thumbnail_square</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,252}</string>
                <key>spriteSourceSize</key>
                <string>{253,252}</string>
                <key>textureRect</key>
                <string>{{402,214},{253,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011010004/thumbnail_rectangle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,742}</string>
                <key>spriteSourceSize</key>
                <string>{231,742}</string>
                <key>textureRect</key>
                <string>{{412,160},{231,742}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011010004/status_l</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{855,707}</string>
                <key>spriteSourceSize</key>
                <string>{855,707}</string>
                <key>textureRect</key>
                <string>{{134,92},{855,707}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011010004/all_rectangle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{942,934}</string>
                <key>spriteSourceSize</key>
                <string>{942,934}</string>
                <key>textureRect</key>
                <string>{{44,31},{942,934}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1240,930}</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
