<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character/gac_1011009004/thumbnail_gacha</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{407,58},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011009004/lwf_skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,212}</string>
                <key>spriteSourceSize</key>
                <string>{423,212}</string>
                <key>textureRect</key>
                <string>{{229,86},{423,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011009004/thumbnail_square</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{395,93},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011009004/thumbnail_rectangle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,507}</string>
                <key>spriteSourceSize</key>
                <string>{158,507}</string>
                <key>textureRect</key>
                <string>{{413,61},{158,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011009004/status_l</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,556}</string>
                <key>spriteSourceSize</key>
                <string>{671,556}</string>
                <key>textureRect</key>
                <string>{{174,2},{671,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/gac_1011009004/all_rectangle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,935}</string>
                <key>spriteSourceSize</key>
                <string>{943,935}</string>
                <key>textureRect</key>
                <string>{{1,38},{943,935}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1240,930}</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
